extends layout

block head
  script(type="text/javascript", data-main="/js/app", data-invoke-module=jsModule, src="/js/requirejs.js")

block content
  h1= title
  block page-links
    if links
      ul.links
        each link, i in links
          li
            a(href=link.href, class=link.icon ? "btn-withtext icon " + link.icon + (link.class?" " + link.class : "") : link.class)!= link.label
  block page-message
    if message
      .message= message
  block inner-content
    p!= text
  block form-content
    if form
      .form!= form
  block footer-content
    if footer
      .footer!= footer