extends layout

block head
  script(type="text/javascript", data-main="/js/app", data-invoke-module=jsModule, src="/js/requirejs.js")

block content
  h1= title
  if message
    .message= message
  block inner-content
    p!= text
  block form-content
    if form
      .form!= form
  block footer-content
    if footer
      .footer!= footer