extends layout

block head
  script(type="text/javascript", src="/js/app.js")
  if scripts
    each href, i in scripts
      script(type="text/javascript", src="/js/" + href)

block content
  h1= title
  if message
    .message= message
  block inner-content
    p!= text
  block form-content
    if form
      .form!= form
  block footer-content
    if footer
      .footer!= footer